.Table-cell {
   box-sizing: border-box;
   height: 100px;
   width: 100px;
   display: inline-block;
   border: solid grey;
   border-radius: 10px;
   background-color: whitesmoke;
   color: lightgrey;
   font-size: small;
   vertical-align: middle;
}

#Table-robot {
   height: 90%;
}

.Table-img-east {
   transform: rotate(90deg);
}

.Table-img-south {
   transform: rotate(180deg);
}
.Table-img-west {
   transform: rotate(270deg);
}
