.App {
   width: 700px;
}
.App-header {
   font-size: 1.2rem;
   color: orange;
   margin: 25px 0 25px 0;
}

.App-controls {
   height: 100px;
   width: 100%;
   background-color: whitesmoke;
   margin-top: 20px;
   border-radius: 10px;
}

.App-footer {
   position: absolute;
   bottom: 2%;
   margin-left: 150px;
}

.App-footer a {
   text-decoration: none;
   color: black;
}

.App-footer div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.App-footer img {
   width: 30px;
   margin: 0 10px;
}

.App-footer span {
   font-weight: 700;
}
