.App {
   width: 700px;
}
.App-header h1 {
   font-size: 2rem;
   color: orange;
   margin: 25px 0 20px 0;
}
.App-main {
   margin: 5px 0 0 0;
}
.App-controls {
   width: 100%;
   background-color: orange;
   margin-top: 20px;
   border-radius: 10px;
   display: flex;
   flex-flow: row nowrap;
}

.App-footer {
   position: absolute;
   bottom: 2%;
   margin-left: 150px;
}

.App-footer a {
   text-decoration: none;
   color: black;
}

.App-footer div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.App-footer img {
   width: 30px;
   margin: 0 10px;
}

.App-footer span {
   font-weight: 700;
}

@media screen and (max-height: 850px) {
   .App-footer {
      visibility: hidden;
   }
}

@media screen and (max-height: 770px) {
   .App-header {
      display: none;
   }
}
